{% extends 'muffinShop/base.html' %}
{% block content %}
 <section id="product_section">
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  <br />{% endif %} {% if products %} {% csrf_token %} {% for product in products %}

    <p id="product_{{product.product_number}}">{{product.product_number}}. {{product.product_name}}{{product.category}} ({{product.price}})</p>



    {% endfor %}
     </section>


<aside id="order_aside">
  <form class="post-form" action="{% url 'muffinShop:order'  %}" method="post">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" id="submit" value="submit" />
  </form>
</aside>
</div>
{% endif %}
{% endblock %}