/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif KR", serif;
  margin: 3vw 1vw 3vw 3vw;
}

li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

img {
  border: 0;
}

input,
select,
textarea,
button,
table {
  font-family: inherit;
}

/** 헤더 **/
header {
  /* 중앙정렬 */
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

/** 주문확인 **/

 #main_gnb {
  margin: 2rem 0;
   font-size: 1.5rem;
}

#main_gnb > ul > li a {
  display: block;
  margin: 1rem 3rem;
  padding: 2px 10px;
  color: #666452;     /*기본 고동색 */
  text-decoration: none;
}

#main_gnb > ul > li > a:hover {
  color: #918080;
}

/* 상품목록 */
.container {
    display:flex;
    flex-direction: row;
    height: 80vh;
}



.container > #product_section > p {
  margin: 1vw 5vw;
  width: 60vw;
  font-size: 1.2rem;
  color: #372213;
}

.container > #product_section > p:hover {
  color: #918080;
}

.container > #product_section {
  margin: 4vw;
  width: 60vw;
  font-size: 1rem;
  flex-grow: 3;
}

/*order aside */

.order_aside{
  margin: 2vw;
  padding: 2vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content : flex-end;
}

.post-form {
 text-align: center;
 color: #666452;
}
.submit {
  margin: 1rem 0;
  padding: 1px 10px;
  border: 1px solid #ed5485;
  border-radius: 7px 7px 7px 7px;
  background: #ed5485; /*분홍색*/
  color: #fffde6; /*연노랑색*/
  font-size: 1.2rem;
}


.submit:hover {
  background: #fffde6; /**연노랑색**/
  color: #ed5485; /**분홍색**/
}

/* 주문하기 */

.order {
  margin: 0 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: space-evenly;
}

#order_detail {
  color: #666452;
}

#order_detail_table {
  margin: 2rem;
  padding: 2rem;
  color: #666452;
  width: 500px;
  border-collapse: collapse; /*선하나로 합치기*/
  border: 2px solid #666452;
  right: 2rem;
}

#order_detail_table tr,
#order_detail_table td {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #666452;
}

#order_detail_table th {
  width: 200px;
}

#order_detail_table input {
  border: none 0px;
  color: #666452;
  font-size: 1rem;
  width: 19rem;
}

#order_detail_table input:focus {
  color: #ed5485;
}

#order_detail_submit {
  position: relative;
}

#order_detail .submit {
  position: absolute;
  left: 24rem;
}

/*주문한 내역 찾기*/

#input-number,
#check-phone,
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666452;
}

#input-number-form {
  margin: 0;
  padding: 0;
}

#id_number {
  margin: 1rem;
  width: 12rem;
  border: 1px solid #ed5485;
  height: 2rem;
  font-family: inherit;
  padding: 0 1rem 0 1rem;
  color: #666452;
  letter-spacing: 5px;
}

#input-number input[type="submit"] {
  border: 1px solid #ed5485;
  border-radius: 7px 7px 7px 7px;
  background: #ed5485; /*분홍색*/
  color: #fffde6; /*연노랑색*/
  font-size: 1.2rem;
}

/*주문내역 찾은 결과*/

/* 푸터 */
