/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif KR", serif;
}

ul,
ol,
li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/** 헤더 **/
header {
  /* 중앙정렬 */
  width: 80vw;
  margin: 0 auto;

  /* 절대좌표 */
  height: 160px;
  position: relative;
}



header > #main_gnb {
  position: absolute;
  right: 0;
  bottom: 10px;

}

#main_gnb > ul {
  overflow: hidden;
}

#main_gnb > ul > li {
  float: left;
}

#main_gnb > ul > li > a {
  display: block;
  padding: 2px 10px;
  border: 3px solid #ed5485;
  font-color: #666452;
}


#main_gnb > ul > li > a:link {
  text-decoration:none;
  color: #666452;
}


#main_gnb > ul > li > a:visited {
  text-decoration:none;
}


#main_gnb > ul > li > a:hover {
  background: #ed5485;
  color: #fffde6;
}

#main_gnb > ul > li > a:active {
  text-decoration: none;
}

#main_gnb > ul > li:first-child > a {
  border-radius: 10px 10px 10px 10px;
}
/* 주문확인 */

.container> #product_section {
    margin: 4vw;
    width: 60vw;
    font-size: 1rem;

}
/* 콘텐츠 */

.container> #product_section {
    margin: 4vw;
    width: 60vw;
    font-size: 1rem;
    float: left;

}
.container> #order_aside {
    margin: 10vw;
    width: 10vw;
    float: right;

}
input#submit{
margin: 1rem;
 padding: 2px 10px;
  border: 1px solid #ed5485;
  border-radius: 7px 7px 7px 7px;
  background:#ed5485;
  color:#fffde6;
}

input#submit:hover {
background:#fffde6;
  color:#ed5485;

}

/* 주문하기 */

/* 푸터 */
